body {
    margin: 0;
    padding: 0;
}

.f30 {
    font-size: 30px;
}

.center {
    text-align: center;
}

#div_order_container {
    background-color: #f0f2f5;
    height: 850px;
    width: 1680px;
    position: relative;
    top: 80px;
    left: 110px;
}

#div_order_add {
    position: absolute;
    left: 340px;
    bottom: 600px;
}

#table_order_info {
    height: 200px;
    width: 1000px;
    position: absolute;
}

#table_order_info, #table_order_info td, #table_order_info th {
    border: 1px solid black;
    border-collapse: collapse;
}

.del_class {
    width: 30px;
    height: 30px;
}

#footer {
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: #848587;
    top: 793px;
    width: 1680px;
}

#github_img_div {
    width: 15px;
    height: 15px;
    text-align: center;
    margin: auto;
}