body {
    margin: 0;
    padding: 0;
}

#div_container {
    background-color: #f0f2f5;
    height: 850px;
    width: 1680px;
    position: relative;
    top: 80px;
    left: 110px;
}

#div_order_list {
    width: 1000px;
    height: 200px;
    position: absolute;
    left: 340px;
    bottom: 600px;
}

#table_order_list {
    width: 1000px;
    height: 200px;
    text-align: center;
}

#table_order_list, #table_order_list th, #table_order_list tr, #table_order_list td{
    border:1px solid black;
    border-collapse:collapse;
    /*设置行高*/
    line-height: 28px;
    font-family: Elephant;
    font-size: 16px;
    color: black;
}
.del_class {
    width: 30px;
    height: 30px;
}

#div_add_order {
    height: 200px;
    width: 1000px;
    position: absolute;
    left: 340px;
}

#table_add_order, #table_add_order td, #table_add_order tr {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
}

.f30 {
    font-size: 30px;
}

.f25 {
    font-size: 25px;
}

.center {
    text-align: center;
}

a{
    text-decoration: none;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: red;
    text-decoration: underline;
}
#div_order_op {
    width: 1000px;
    text-align: center;
    position: absolute;
    top: 550px;
    left: 340px;
}

#div_search {
    width: 450px;
    text-align: center;
    position: absolute;
    top: 420px;
    left: 340px;
}

#search_by_id {
    float: left;
    margin-bottom: 10px;
    margin-left: 13px;
}

#search_by_name {
    float: left;
    margin-bottom: 10px;
}

#search_by_buyer {
    float: left;
    margin-bottom: 10px;
}

#footer {
    text-align: center;
    margin-top: 770px;
    font-size: 14px;
    color: #848587;
}

#github_img_div {
    width: 15px;
    height: 15px;
    text-align: center;
    margin: auto;
}